bin
target
include/{{sdfMainModule}}.def
include/{{sdfMainModule}}-parenthesize.str
include/{{sdfMainModule}}-Permissive.def
include/{{sdfMainModule}}.generated.pp.af
include/{{sdfMainModule}}.packed.esv
include/{{sdfMainModule}}.pp.af
include/{{sdfMainModule}}.rtg
include/{{sdfMainModule}}.str
include/{{sdfMainModule}}.tbl
include/{{transModuleName}}.rtree
include/{{transModuleName}}.ctree
include/{{transModuleName}}.ctree.dep
include/{{transModuleName}}.jar
include/{{transModuleName}}-java.jar
editor/java/trans
editor/*.generated.*
syntax/{{sdfMainModule}}*.generated.esv
syntax/{{sdfMainModule}}.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
lib/runtime.rtree
lib/*.generated.str
lib-refactoring/*.generated.str
/src-gen