<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Spoofax/IMP"
            id="org.strategoxt.imp.astview">
      </category>
      <view
            name="Abstract Syntax Tree View"
            icon="icons/sample.gif"
            category="org.strategoxt.imp.astview"
            class="org.strategoxt.imp.astview.views.ASTView"
            id="org.strategoxt.imp.astview.views.ASTView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.strategoxt.imp.astview.views.ASTView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
