<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="sdf2imp generic base language"
            extensions="sdf2impbase"
            language="DynamicRoot">
      </language>
   </extension>
   <extension
         id="org.strategoxt.imp.runtime.parser"
         name="Root Parser Wrapper"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.strategoxt.imp.runtime.dynamicloading.DynamicParseController"
            language="DynamicRoot">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.strategoxt.imp.runtime.dynamicloading.DynamicTokenColorer"
            language="DynamicRoot">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="org.strategoxt.imp.runtime.dynamicloading.DynamicReferenceResolver"
            language="DynamicRoot">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="org.strategoxt.imp.runtime.dynamicloading.DynamicFoldingUpdater"
            language="DynamicRoot">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="org.strategoxt.imp.runtime.services.DocumentationProvider"
            language="DynamicRoot">
      </docProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.outliner">
      <outliner
            class="org.strategoxt.imp.runtime.dynamicloading.DynamicOutliner"
            language="DynamicRoot">
      </outliner>
   </extension>
   <!-- Extension point not implemented; manually called from SGLRParseController instead
   <extension
         point="org.eclipse.imp.runtime.modelListener">
      <listener
            class="org.strategoxt.imp.runtime.dynamicloading.DynamicStrategoFeedback"
            language="DynamicRoot">
      </listener>
   </extension>
   -->
</plugin>
