<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.metaborg.spoofax.eclipse.editor.SpoofaxEditor"
            name="Spoofax 2 Editor"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.metaborg.spoofax.eclipse.editor.SpoofaxEditor"
            >
      </editor>
   </extension>
</plugin>
