<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- Editor -->
  <extension
    point="org.eclipse.ui.editors">
    <editor
      id="editor"
      name="Spoofax 2 Editor"
      icon="icons/sample.gif"
      contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
      class="org.metaborg.spoofax.eclipse.editor.SpoofaxEditor"
    />
  </extension>
  
  
  <!-- Nature, builder, and support commands -->
  <extension
    id="nature"
    name="Spoofax nature"
    point="org.eclipse.core.resources.natures"
  >
    <runtime>
      <run class="org.metaborg.spoofax.eclipse.processing.SpoofaxNature"/>
    </runtime>
    <builder id="org.metaborg.spoofax.eclipse.builder" />
  </extension>
  <extension
    id="builder"
    name="Spoofax builder"
    point="org.eclipse.core.resources.builders"
  >
    <builder
      callOnEmptyDelta="true"
      hasNature="true"
      isConfigurable="false"
      supportsConfigurations="false"
    >
      <run class="org.metaborg.spoofax.eclipse.processing.SpoofaxProjectBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command id="add-nature" name="Add Spoofax nature"/>
    <command id="remove-nature" name="Remove Spoofax nature"/>
  </extension>  
   <extension point="org.eclipse.ui.handlers">
    <handler commandId="add-nature" class="org.metaborg.spoofax.eclipse.processing.AddNatureHandler" />
    <handler commandId="remove-nature" class="org.metaborg.spoofax.eclipse.processing.RemoveNatureHandler" />
  </extension>
  
  
  <!-- Language project commands -->
  <extension point="org.eclipse.ui.commands">
    <command id="load-language" name="Load language"/>
    <command id="reload-language" name="Reload language"/>
    <command id="unload-language" name="Unload language"/>
  </extension>  
  <extension point="org.eclipse.ui.handlers">
    <handler commandId="load-language" class="org.metaborg.spoofax.eclipse.language.LoadLanguageHandler" />
    <handler commandId="reload-language" class="org.metaborg.spoofax.eclipse.language.ReloadLanguageHandler" />
    <handler commandId="unload-language" class="org.metaborg.spoofax.eclipse.language.UnloadLanguageHandler" />
  </extension>
  
  
  <!-- Project context menu -->
  <extension point="org.eclipse.ui.menus">
    <!-- Package Explorer -->
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
      <menu id="project-context-menu" label="Spoofax 2">
        <visibleWhen>
          <iterate ifEmpty="false" operator="and">
            <or>
              <instanceof value="org.eclipse.core.resources.IProject" />
              <instanceof value="org.eclipse.core.resources.IProjectNature" />
            </or>
          </iterate>
        </visibleWhen>
      </menu>
    </menuContribution>
    
    <!-- Project Explorer -->
    <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      <menu id="project-context-menu" label="Spoofax 2">
        <visibleWhen>
          <iterate ifEmpty="false" operator="and">
            <or>
              <instanceof value="org.eclipse.core.resources.IProject" />
              <instanceof value="org.eclipse.core.resources.IProjectNature" />
            </or>
          </iterate>
        </visibleWhen>
      </menu>
    </menuContribution>
    
    <!-- Commands -->
    <menuContribution locationURI="popup:project-context-menu?after=additions">
      <command commandId="load-language" />
      <command commandId="reload-language" />
      <command commandId="unload-language" />
      <separator name="separator1" visible="true "/>
      <command commandId="add-nature" />
      <command commandId="remove-nature" />
    </menuContribution>
  </extension>
</plugin>
