<configuration>
  <appender
    name="eclipse-log"
    class="org.metaborg.spoofax.eclipse.logging.EclipseLogAppender"
  >
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%message%n{}in %logger \(%thread\)%n</pattern>
    </encoder>
  </appender>
  <appender
    name="eclipse-console"
    class="org.metaborg.spoofax.eclipse.logging.EclipseConsoleAppender"
  >
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <encoder>
      <pattern>%date{HH:mm} | %-5level | %-30.30logger{20} - %message%n</pattern>
    </encoder>
    <consoleName>Spoofax console</consoleName>
  </appender>

  <appender
    name="stdout"
    class="org.metaborg.util.log.StaticConsoleAppender"
  >
    <target>System.out</target>
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} | %-12.12thread | %-5level | %-40.40logger{30} - %message%n</pattern>
    </encoder>
  </appender>
  <appender
    name="eclipse-dev-console"
    class="org.metaborg.spoofax.eclipse.logging.EclipseConsoleAppender"
  >
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} | %-12.12thread | %-5level | %-40.40logger{30} - %message%n</pattern>
    </encoder>
    <consoleName>Spoofax developers console</consoleName>
  </appender>


  <root level="debug">
    <appender-ref ref="eclipse-log" />
    <appender-ref ref="eclipse-console" />
    <appender-ref ref="stdout"/>
    <appender-ref ref="eclipse-dev-console" />
  </root>
</configuration>