<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <!-- Nature, builder, and support commands -->
  <extension
    id="nature"
    name="Spoofax meta nature"
    point="org.eclipse.core.resources.natures"
  >
    <runtime>
      <run class="org.metaborg.spoofax.eclipse.meta.nature.SpoofaxMetaNature"/>
    </runtime>
    <builder id="org.metaborg.spoofax.eclipse.meta.builder" />
  </extension>
  <extension
    id="builder"
    name="Spoofax meta builder"
    point="org.eclipse.core.resources.builders"
  >
    <builder
      callOnEmptyDelta="false"
      hasNature="true"
      isConfigurable="true"
      supportsConfigurations="false"
    >
      <run class="org.metaborg.spoofax.eclipse.meta.build.SpoofaxMetaProjectBuilder"/>
    </builder>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command id="org.metaborg.spoofax.eclipse.meta.command.nature.add" name="Add Spoofax meta nature"/>
    <command id="org.metaborg.spoofax.eclipse.meta.command.nature.remove" name="Remove Spoofax meta nature"/>
  </extension>  
   <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="org.metaborg.spoofax.eclipse.meta.command.nature.add"
      class="org.metaborg.spoofax.eclipse.meta.nature.AddNatureHandler"
    />
    <handler
      commandId="org.metaborg.spoofax.eclipse.meta.command.nature.remove"
      class="org.metaborg.spoofax.eclipse.meta.nature.RemoveNatureHandler"
    />
  </extension>
  
  
  <!-- Language project commands -->
  <extension point="org.eclipse.ui.commands">
    <command id="org.metaborg.spoofax.eclipse.meta.command.language.load" name="Load language"/>
    <command id="org.metaborg.spoofax.eclipse.meta.command.language.unload" name="Unload language"/>
  </extension>  
  <extension point="org.eclipse.ui.handlers">
    <handler 
      commandId="org.metaborg.spoofax.eclipse.meta.command.language.load"
      class="org.metaborg.spoofax.eclipse.meta.language.LoadLanguageHandler"
    />
    <handler 
      commandId="org.metaborg.spoofax.eclipse.meta.command.language.unload"
      class="org.metaborg.spoofax.eclipse.meta.language.UnloadLanguageHandler"
    />
  </extension>
  
  
  <!-- Project context menu -->
  <extension point="org.eclipse.ui.menus">
    <!-- Package Explorer -->
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
      <menu id="org.metaborg.spoofax.eclipse.meta.menu.project" label="Spoofax (meta)">
        <visibleWhen>
          <iterate ifEmpty="false" operator="and">
            <or>
              <instanceof value="org.eclipse.core.resources.IProject" />
              <instanceof value="org.eclipse.core.resources.IProjectNature" />
            </or>
          </iterate>
        </visibleWhen>
      </menu>
    </menuContribution>
    
    <!-- Project Explorer -->
    <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
      <menu id="org.metaborg.spoofax.eclipse.meta.menu.project" label="Spoofax (meta)">
        <visibleWhen>
          <iterate ifEmpty="false" operator="and">
            <or>
              <instanceof value="org.eclipse.core.resources.IProject" />
              <instanceof value="org.eclipse.core.resources.IProjectNature" />
            </or>
          </iterate>
        </visibleWhen>
      </menu>
    </menuContribution>
    
    <!-- Commands -->
    <menuContribution locationURI="popup:org.metaborg.spoofax.eclipse.meta.menu.project?after=additions">
      <command commandId="org.metaborg.spoofax.eclipse.meta.command.nature.add" />
      <command commandId="org.metaborg.spoofax.eclipse.meta.command.nature.remove" />
      <separator name="separator1" visible="true "/>
      <command commandId="org.metaborg.spoofax.eclipse.meta.command.language.load" />
      <command commandId="org.metaborg.spoofax.eclipse.meta.command.language.unload" />
    </menuContribution>
  </extension>
</plugin>
