<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="sdf2imp metatooling dynamic language placeholder"
            extensions="sdf2impbase2"
            language="Root2"
            validatorClass="org.strategoxt.imp.metatooling.DynamicLanguageValidator"
            validator="org.strategoxt.imp.metatooling.DynamicLanguageValidator">
            <!-- "validator" is wat imp currently (incorrectly) tries to load) -->
      </language>
   </extension>
   
</plugin>
